body {
  margin-top: 50px;
  text-align: center;
}

.shape {
  height: 150px;
  width: 150px;
  background-color: #0074d9;
  border-radius: 5px;
  margin-bottom: 30px;
  float: left;
  margin-right: 20px;
}
